atomicwrites
attrs
backcall
bleach
certifi
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
pluggy
prompt-toolkit
ptyprocess
py
Pygments
pytest
python-dateutil
pytz
pyzmq
qtconsole
Send2Trash
simplegeneric
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
